    @font-face {
        font-family: "Klavika Medium - Plain";
        src: url('../fonts/KlavikaMedium-Plain.eot');
        src: url('../fonts/KlavikaMedium-Plain.eot?#iefix') format('embedded-opentype'), url('../fonts/KlavikaMedium-Plain.svg#HelveticaNeue') format('svg'), url('../fonts/KlavikaMedium-Plain.ttf') format('truetype'), url('../fonts/KlavikaMedium-Plain.woff') format('woff'), url('../fonts/KlavikaMedium-Plain.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
    }
    
    @font-face {
        font-family: "Myriad Pro - Semibold";
        src: url('../fonts/MyriadPro-Regular.eot');
        src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Regular.svg#HelveticaNeue') format('svg'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
    }
    
    @font-face {
        font-family: "Myriad Pro";
        src: url('../fonts/MyriadPro-Semibold.eot');
        src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Semibold.svg#HelveticaNeue') format('svg'), url('../fonts/MyriadPro-Semibold.ttf') format('truetype'), url('../fonts/MyriadPro-Semibold.woff') format('woff'), url('../fonts/MyriadPro-Semibold.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
    }
    
    @font-face {
        font-family: "Zurich BT - Bold Condensed";
        src: url('../fonts/ZurichBT-BoldCondensed.eot');
        src: url('../fonts/ZurichBT-BoldCondensed.eot?#iefix') format('embedded-opentype'), url('../fonts/ZurichBT-BoldCondensed.svg#HelveticaNeue') format('svg'), url('../fonts/ZurichBT-BoldCondensed.ttf') format('truetype'), url('../fonts/ZurichBT-BoldCondensed.woff') format('woff'), url('../fonts/ZurichBT-BoldCondensed.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
    }
    
    body {
        background-image: url(..//img//background.jpg);
    }
    
    .container {
        max-width: 990px;
        margin: auto;
    }
    
    .logo-1 {
        color: #231f20;
        font-family: "Klavika Medium - Plain";
        font-size: 34px;
        font-weight: 400;
        line-height: 20px;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 7px;
    }
    
    .logo-2 {
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
        color: #858689;
        font-family: "Myriad Pro - Semibold";
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        margin: 0;
    }
    
    .header-1st {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo {
        margin-left: 55px;
        position: relative;
    }
    
    .logo::before {
        position: absolute;
        content: '';
        top: -20px;
        left: -27px;
        width: 56px;
        height: 65px;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='SVGDoc' width='56' height='65' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:avocode='https://avocode.com/' viewBox='0 0 56 65'%3E%3Cdefs%3E%3ClinearGradient id='LinearGradient1015' gradientUnits='userSpaceOnUse' x1='28.015024185180664' y1='65.00782227516174' x2='27.991731643676758' y2='-0.008352041244506836'%3E%3Cstop stop-opacity='0.34' stop-color='%23000000' offset='0'%3E%3C/stop%3E%3Cstop stop-opacity='0.34' stop-color='%23ffffff' offset='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdesc%3EGenerated with Avocode.%3C/desc%3E%3Cg%3E%3Cg%3E%3Ctitle%3EShape 1%3C/title%3E%3Cpath d='M23.83735,1.17559c11.9436,-3.30292 24.17455,0.51031 32.17767,8.8809c-6.50764,-3.40984 -14.27477,-4.45137 -21.91454,-2.33864c-15.96909,4.41626 -25.33464,20.94179 -20.91844,36.91095c2.73877,9.90349 10.13486,17.26719 19.16724,20.37902c-14.19776,-0.05826 -27.20316,-9.48827 -31.1736,-23.84533c-4.7842,-17.29989 5.36177,-35.20265 22.66166,-39.98691z' fill='%2343ac2d' fill-opacity='1'%3E%3C/path%3E%3Cpath d='M23.83735,1.17559c11.9436,-3.30292 24.17455,0.51031 32.17767,8.8809c-6.50764,-3.40984 -14.27477,-4.45137 -21.91454,-2.33864c-15.96909,4.41626 -25.33464,20.94179 -20.91844,36.91095c2.73877,9.90349 10.13486,17.26719 19.16724,20.37902c-14.19776,-0.05826 -27.20316,-9.48827 -31.1736,-23.84533c-4.7842,-17.29989 5.36177,-35.20265 22.66166,-39.98691z' fill='url(%23LinearGradient1015)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    
    .nav-1st ul {
        display: flex;
        list-style: none;
    }
    
    .nav-1st li {
        margin-left: 22px;
    }
    
    .navigation {
        text-align: right;
    }
    
    .friendly {
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
        color: #585755;
        font-family: "Myriad Pro";
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 5px;
    }
    
    .number {
        font-family: "Myriad Pro";
        font-size: 20px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 19px;
    }
    
    .nav-1st li a {
        color: #209a28;
        font-family: "Zurich BT - Roman Condensed";
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
    }
    
    .number a {
        text-decoration: none;
        color: #373737;
    }
    
    .nav-2nd ul {
        margin: 0;
        padding: 15px 27px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        box-shadow: inset 2px 2px 0 #81de41;
        border: 1px solid #0c932f;
        background-color: #43ac2d;
        background-image: linear-gradient(to top, #0f941a 0%, #66c13e 100%);
        border-radius: 5px;
    }
    
    .nav-2nd ul li {
        text-shadow: 0 -2px 0 rgba(0, 92, 19, 0.63);
        color: #ffffff;
        font-family: "Zurich BT - Bold Condensed";
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
    }
    
    h1 {
        text-shadow: 1px 1px 0 #ffffff;
        color: #14961c;
        font-family: Arial;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        margin: 15px 0 15px 24px;
    }
    
    .main-block {
        display: flex;
    }
    
    .col-9 {
        box-shadow: inset 0 0 0 2px #ffffff;
        border: 1px solid #e1dbce;
        background-color: #ffffff;
        max-width: 75%;
        flex: 0 0 75%;
    }
    
    .col-3 {
        max-width: 25%;
        flex: 0 0 25%;
        background-color: #f4f2ec;
        border: 1px solid #e1dbce;
    }
    
    .main-photo {
        background-image: url(../img/lion.jpg);
        background-size: cover;
        border-radius: 15px;
    }
    
    .slider {
        max-width: 33%;
        margin-left: auto;
        background-color: #251d14;
        opacity: 0.9;
        padding-top: 22px;
        padding-left: 17px;
        padding-bottom: 29px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-bottom: 28px;
    }
    
    .slider p {
        color: #ffffff;
        font-family: Arial;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 8px;
    }
    
    .slider a {
        color: #28b028;
        font-family: Arial;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-decoration: none;
    }
    
    h2 {
        color: #28b028;
        font-family: "Zurich BT - Roman Condensed";
        font-size: 32px;
        font-weight: 400;
        line-height: 35px;
        margin: 0;
    }
    
    h2 span {
        color: #ffffff;
        font-size: 22px;
    }
    
    .buttons button {
        box-shadow: inset 1px -1px 0 rgba(192, 186, 166, 0.75);
        background-color: #6b685e;
        border-radius: 50%;
        color: #cbcbcb;
        font-family: Arial;
        font-weight: 700;
        font-size: 12px;
        border: 0;
        outline: 0;
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
    
    .buttons {
        margin-top: 21px;
    }
    
    .buttons button.active-button {
        width: 26px;
        height: 26px;
        box-shadow: none;
        color: #ffffff;
        background-color: #43ac2d;
    }
    
    h3 {
        color: #444137;
        font-family: "Zurich BT - Roman Condensed";
        font-size: 26px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 17px;
        margin-top: 0;
    }
    
    .text-photo p {
        color: #595447;
        font-family: Arial;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
    }
    
    .text-photo {
        max-width: 416px;
    }
    
    .text-photo p span {
        color: #28b028;
        font-family: Arial;
        font-weight: 700;
        text-decoration: underline;
    }
    
    .textandphoto {
        display: flex;
    }
    
    .textandphoto img {
        position: relative;
        top: -40px;
        margin-left: 70px;
    }
    
    .buttons-3 {
        display: flex;
        justify-content: space-between;
    }
    
    .buttons-3 p {
        position: relative;
        padding: 12px 0;
        text-align: center;
        width: 100%;
        color: #444137;
        font-family: "Zurich BT - Roman Condensed";
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        box-shadow: inset 0 -2px 0 #ffffff;
        border: 1px solid #cfcdc5;
        background-color: #ffffff;
        background-image: linear-gradient(to top, #f4f3f1 0%, #ffffff 100%);
    }
    
    .buttons-3 .active-button {
        box-shadow: inset 2px 2px 0 #81de41;
        border: 1px solid #0c932f;
        background-color: #ffffff;
        background-image: linear-gradient(to top, #0f941a 0%, #66c13e 100%);
        text-shadow: 0 -2px 0 rgba(0, 92, 19, 0.63);
        color: #ffffff;
        font-family: "Zurich BT - Roman Condensed";
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
    }
    
    .buttons-3 p.active-button::before {
        content: '';
        position: absolute;
        bottom: -15px;
        border: 4px solid transparent;
        border-top: 10px solid green;
        left: 50%;
        margin-left: -10px;
        top: auto;
    }
    
    .buttons-3 p span::before {
        content: '';
        position: absolute;
        border: 5px solid transparent;
        border-left: 6px solid green;
        top: 6px;
        left: -11px;
    }
    
    .buttons-3 p span {
        position: relative;
    }
    
    .news-blog {
        display: flex;
    }
    
    h4 {
        color: #3a3731;
        font-family: Arial;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
        margin-top: 0;
    }
    
    .wrap-item {
        margin-left: 7.5px;
        margin-right: 7.5px;
        max-width: calc(33.3% - 15px);
    }
    
    .wrap-item p {
        color: #3a3731;
        font-family: Arial;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
    }
    
    .border-for-img {
        margin-bottom: 15px;
    }
    
    .border-for-img img {
        width: calc(100% - 8px);
        border: 4px solid grey;
        border-radius: 10px;
        max-width: 100%;
    }
    
    .news-blog {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -7.5px;
    }
    
    .left-screen {
        padding: 17px;
    }
    
    .right-screen {
        padding: 23px;
    }
    
    .input-block button {
        border-radius: 5px;
        margin-bottom: 21px;
        opacity: 0.5;
        position: relative;
        text-align: left;
        width: 100%;
        color: #231f20;
        font-family: Arial;
        font-size: 11px;
        font-weight: 400;
        line-height: 20px;
        box-shadow: 0 0 0 3px #e8e5de, inset 0 -2px 0 #ffffff;
        border: 1px solid #cfcdc5;
        background-color: #ffffff;
        background-image: linear-gradient(to top, #f4f3f1 0%, #ffffff 100%);
    }
    
    .input-block button::before {
        content: "";
        position: absolute;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='SVGDoc' width='21' height='19' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:avocode='https://avocode.com/' viewBox='0 0 21 19'%3E%3Cdefs%3E%3C/defs%3E%3Cdesc%3EGenerated with Avocode.%3C/desc%3E%3Cg%3E%3Cg%3E%3Ctitle%3Eddarw%3C/title%3E%3Cpath d='M3.66662,0.33328h13.99999c1.65689,0 3,1.34316 3,3.00005v11.99993c0,1.65689 -1.34311,3.00005 -3,3.00005h-13.99999c-1.65682,0 -3,-1.34316 -3,-3.00005v-11.99993c0,-1.65689 1.34318,-3.00005 3,-3.00005zM6.5049,8.05545l4.50218,5.86921l4.50225,-5.86921' fill='%23615b49' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        width: 20px;
        height: 20px;
        top: 50%;
        transform: translateY(-50%);
        right: 3px;
    }
    
    .input-block button.active {
        opacity: 1;
        border-radius: 5px;
    }
    
    footer {
        margin-top: 19px;
    }
    
    .footer-1st {
        margin-bottom: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 14px 126px 13px 140px;
        text-align: center;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
        color: #ffffff;
        font-family: Arial;
        font-style: italic;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        background-color: #878176;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.22) 0%, rgba(255, 255, 255, 0.22) 100%);
    }
    
    .footer-2nd {
        padding: 24px;
        margin-top: 0;
        background-color: #f4f2ec;
        display: flex;
        justify-content: space-between;
    }
    
    h6 {
        margin-bottom: 13px;
        margin-top: 0;
        color: #64522a;
        font-family: "Klavika Medium - Plain";
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
    }
    
    .right-screen h5 {
        color: #3f3b30;
        font-family: Arial;
        font-weight: bold;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
    }
    
    .right-screen p {
        color: #3f3b30;
        font-family: Arial;
        font-size: 12px;
        line-height: 18px;
    }
    
    .footer-column span {
        font-family: Arial;
        font-weight: bold;
    }
    
    .footer-column p {
        color: #757268;
        font-family: Arial;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 14px;
    }
    
    .footer-column p span {
        font-size: 11px;
        font-weight: 400;
    }
    
    .bold {
        font-weight: 700 !important;
    }
    
    .footer-columns {
        display: flex;
        margin-top: 0px;
        justify-content: space-between;
    }
    
    .facebook-button {
        border: 0;
    }
    
    .facebook-button img {
        border-radius: 4px;
        border: 3px solid #d8d5cc;
    }
    
    .footer-end {
        text-align: center;
        margin-top: 20px;
        font-family: Arial;
        color: #716c61;
        font-size: 11px;
        font-weight: 400;
        line-height: 18px;
    }
    
    .footer-end span {
        font-size: 11px;
        font-weight: 400;
        line-height: 18px;
        color: #3a3731;
        font-family: Arial, sans-serif;
        font-weight: bold;
    }
    
    .footer-column1 {
        flex: 0 25%;
        max-width: 25%
    }
    
    .footer-column2 {
        position: relative;
        flex: 0 50%;
        max-width: 50%;
    }
    
    .footer-column2:after,
    .footer-column2:before {
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        top: 0;
        background-color: #757268;
    }
    
    .footer-column2:after {
        right: -30px;
    }
    
    .footer-column2:before {
        left: -30px;
    }
    /*-----------------*/
    
    .btn-search {
        position: relative;
        margin-bottom: 25px;
        padding: 7px 17px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        text-shadow: 0 -2px 0 rgba(0, 92, 19, 0.63);
        color: #ffffff;
        font-family: "Klavika Medium - Plain";
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        box-shadow: 0 0 0 3px #d8d5cc, inset 2px 2px 0 #81de41;
        border: 1px solid #0c932f;
        background-color: #43ac2d;
        outline: none;
        background-image: linear-gradient(to top, #0f941a 0%, #66c13e 100%);
    }
    
    .btn-search:after {
        content: '';
        position: absolute;
        right: -19px;
        top: -4px;
        width: 19px;
        height: 35px;
        background-image: url(../img/btn.png);
    }
    
    .btn-search img {
        margin-left: 9px;
    }
    
    h5 {
        color: #3f3b30;
        font-family: "Myriad Pro";
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
    }
    
    .right-screen h5 {
        margin-top: 0;
        margin-bottom: 12px;
        color: #3f3b30;
        font-family: "Myriad Pro";
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
    }
    
    .right-screen p {
        color: #3f3b30;
        font-family: Arial;
        font-size: 12px;
    }
    
    .input-wrap {
        position: relative;
        margin-bottom: 48px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
    }
    
    .input-wrap:before {
        position: absolute;
        content: '';
        width: calc(100% + 46px);
        height: 1px;
        bottom: -24px;
        left: -23px;
        background-color: #e1dbce;
    }
    
    input {
        padding-left: 8px;
        box-shadow: 0 0 0 3px #e8e5de, inset 0 -2px 0 #ffffff;
        border: 1px solid #cfcdc5;
        background-color: #ffffff;
        background-image: linear-gradient(to top, #f4f3f1 0%, #ffffff 100%);
        color: #666666;
        font-family: Arial;
        font-size: 11px;
        font-weight: 400;
        line-height: 20px;
        border-radius: 7px;
        max-width: 100%;
        width: 96%;
    }
    
    .input-wrap input {
        max-width: 110px;
    }
    
    .input-wrap .btn {
        padding: 3px 0;
        border-radius: 7px;
        margin-left: 5px;
        box-shadow: 0 0 0 3px #d8d5cc, inset 2px 2px 0 #81de41;
        border: 1px solid #0c932f;
        background-color: #43ac2d;
        background-image: linear-gradient(to top, #0f941a 0%, #66c13e 100%);
        text-shadow: 0 -2px 0 rgba(0, 92, 19, 0.63);
        color: #ffffff;
        font-family: "Klavika Medium - Plain";
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        /* Text style for "S, EARCH" */
        letter-spacing: -0.7px;
        width: 100%;
    }
    
    .mb-13 {
        margin-bottom: 13px;
    }
    
    .right-screen h6 {
        color: #3f3b30;
        font-family: Arial;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        text-transform: none;
    }
    
    .footer-subcolumn p {
        margin-top: 0;
        line-height: 20px;
    }
    /*----------------*/
    
    @media(max-width: 1200px) {}
    
    @media(max-width: 992px) {
        .main-block {
            flex-direction: column;
        }
        .col-9,
        .col-3 {
            max-width: 100%;
            flex: 0 100%;
        }
        .footer-2nd {
            flex-direction: column;
        }
        .footer-column {
            max-width: 100%;
            flex: 0 100%;
            margin-bottom: 30px;
        }
        .header-menu__link {
            display: block;
            width: 50px;
            height: 50px;
            position: fixed;
            top: 10px;
            left: 10px;
            border-radius: 50%;
            background-color: #FFF;
            z-index: 200;
        }
        .header-menu__link span {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            display: block;
            height: 4px;
            width: 24px;
            background-color: #373737;
        }
        .header-menu__link_active span {
            background-color: transparent;
        }
        .header-menu__link span:before,
        .header-menu__link span:after {
            -webkit-transition: all .2s;
            transition: all .2s;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -2px;
            margin-left: -12px;
            display: block;
            height: 4px;
            width: 24px;
            background-color: #373737;
            content: '';
        }
        .header-menu__link span:after {
            margin-top: 6px;
        }
        .header-menu__link span:before {
            margin-top: -10px;
        }
        .header-menu__link_active span:before {
            margin-top: 0;
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
        }
        .header-menu__link_active span:after {
            margin-top: 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        .container {
            max-width: 700px;
            width: 100%;
        }
        header {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
            background-color: #aaa;
            transition: 0.3s;
            z-index: 99;
        }
        header.active {
            left: 0;
            display: block;
        }
        .nav-2nd ul {
            flex-direction: column;
        }
        .nav-2nd ul li {
            margin-bottom: 25px;
        }
        .header-1st {
            flex-direction: column;
            margin 25px;
        }
        .navigation {
            text-align: center;
            margin: 25px;
        }
    }
    
    @media(max-width: 767px) {
        .nav-1st ul {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-left: 0;
        }
        h1 {
            text-align: center;
        }
        .slider {
            max-width: 100%;
        }
        .textandphoto img {
            display: none;
        }
        .buttons-3 {
            flex-direction: column;
        }
        .wrap-item {
            max-width: 100%;
        }
        .footer-1st {
            padding: 20px 30px;
        }
    }